<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body class="bg-gray-100 min-h-screen">
        <%- include('../includes/admin-navigation.ejs') %>
            <main class="container mx-auto px-4">
                <form action="" method="post" enctype="multipart/form-data"
                    class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="text" name="title" id="title" placeholder="Title"
                        class="w-full mb-4 p-2 border border-gray-300 rounded <%= errors.find(e => e.path === 'title') ? 'border-red-500' : '' %>"
                        value="<%= product.title %>">
                    <input type="file" name="image" id="image" placeholder="Upload image"
                        class="w-full mb-4 p-2 border border-gray-300 rounded <%= errors.find(e => e.path === 'image') ? 'border-red-500' : '' %>"
                        value="<%= product.image %>">
                    <input type="text" name="price" id="price" placeholder="Price"
                        class="w-full mb-4 p-2 border border-gray-300 rounded <%= errors.find(e => e.path === 'price') ? 'border-red-500' : '' %>"
                        value="<%= product.price %>">
                    <select name="categoryId" id="categoryId" class="w-full mb-4 p-2 border border-gray-300 rounded">
                        <option value="">Select Category</option>
                        <% categories.forEach(category => { %>
                            <option value="<%= category._id %>" <%= (!product.category && product.category.categoryId.toString() === category._id.toString()) ? 'selected' : '' %>>
                                <%= category.name %>
                            </option>
                            <% }) %>
                    </select>
                    <textarea name="description" id="description" placeholder="Description"
                        class="w-full mb-4 p-2 border border-gray-300 rounded <%= errors.find(e => e.path === 'description') ? 'border-red-500' : '' %>"><%= product.description %></textarea>
                    <% if (mode==='edit' ) { %>
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <% } %>
                            <button type="submit"
                                class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save
                                Product</button>
                </form>
            </main>

            <%- include('../includes/modal.ejs', { message: message }) %>
                <%- include('../includes/footer.ejs') %>