<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-nav-list">
            <li class="main-header-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header-item"><a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a></li>
            <li class="main-header-item"><a class="<%= path === '/order' ? 'active' : '' %>" href="/order">Orders</a></li>
            <li class="main-header-item"><a class="<%= path === '/admin/product' ? 'active' : '' %>" href="/admin/product">Products</a></li>
            <li class="main-header-item"><a class="<%= path === '/admin/product/add-product' ? 'active' : '' %>" href="/admin/product/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>
