<%- include('includes/header.ejs') %>

    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main>
                <% if (cart.length> 0) { %>
                    <div class="grid">
                        <% for (let item of cart) { %>
                            <article class="card">
                                <header class="card-header">
                                    <h1 class="card-header-title">
                                        <%= item.product.title %>
                                    </h1>
                                </header>
                                <div class="card-image
                        ">
                                    <img src="<%= item.product.imageUrl %>" alt="<%= item.product.title %>">
                                </div>
                                <div class="card-content">
                                    <h2 class="card-content-price">$<%= item.product.price %>
                                    </h2>
                                    <p class="card-content-description">
                                        <%= item.product.description %>
                                    </p>
                                </div>
                                <footer class="card-footer">
                                    <form action="/cart" method="POST">
                                        <input type="hidden" name="productId" value="<%= item.product._id %>">
                                        <button class="card-footer-button" type="submit">Remove from Cart</button>
                                    </form>
                                </footer>
                            </article>
                            <% } %>
                    </div>

                    <div class="total">
                        <h1>Total: $<%= total %>
                        </h1>
                    </div>

                    <form action="/order" method="POST">
                        <button class="order-button" type="submit">Order Now</button>
                    </form>

                    <% } else { %>
                        <h1>No products in cart.</h1>
                        <% } %>
            </main>

            <%- include('includes/footer.ejs') %>