<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>
    <style>

    </style>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <div class="grid">
                        <% for (let item of products) { %>
                            <div class="cart-item">
                                <span class="cart-item-title">
                                    <%= item.productId.title %>
                                </span>
                                <span class="cart-item-quantity">
                                    Quantity: <%= item.quantity %>
                                </span>
                                <form action="/cart-delete" method="POST" class="">
                                    <input type="hidden" name="productId" value="<%= item.productId._id %>">
                                    <button class="cart-item-delete" type="submit">Remove from Cart</button>
                                </form>
                            </div>
                            <% } %>
                    </div>
                    <form action="/order" method="POST" class="form-control">
                        <button class="order-button" type="submit">Order Now</button>
                    </form>

                    <% } else { %>
                        <h1>No products in cart.</h1>
                        <% } %>
            </main>

            <%- include('includes/footer.ejs') %>