<%- include('includes/header.ejs') %>
    </head>

<body class="min-h-screen">
        <%- include('includes/navigation.ejs') %>
            <main class="container mx-auto px-4">
                <% if (products.length > 0) { %>
                    <div class="grid grid-cols-1 gap-4 m-4 rounded-lg">
                        <% for (let item of products) { %>
                            <div class="bg-white p-4 shadow">
                                <span class="text-lg font-bold">
                                    <%= item.productId.title %>
                                </span>
                                <span class="text-sm">
                                    Quantity: <%= item.quantity %>
                                </span>
                                <form action="/cart-delete" method="POST" class="mt-4">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="productId" value="<%= item.productId._id %>">
                                    <button class="text-gray-500 hover:text-white bg-transparent border border-gray-500 hover:bg-gray-500 px-4 py-2 rounded" type="submit">Remove from Cart</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                    <div class="flex justify-center">
                            <a href="/cart/checkout" class="text-orange-500 hover:text-white bg-white border border-orange-500 hover:bg-orange-600 px-4 py-2 rounded" type="submit">Order Now</a>
                    </div>

                <% } else { %>
                    <div class="flex justify-center mt-4">
                        <div class="bg-white p-4 shadow rounded-lg">
                            <h1 class="text-2xl font-bold">No products in cart.</h1>
                        </div>
                    </div>
                <% } %>
            </main>

            <%- include('includes/footer.ejs') %>
