<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/order.css">
    </head>
    <body>
        <%- include('includes/navigation.ejs') %>
            <main>
                <% if (orders.length> 0) { %>
                    <div class="grid">
                        <% for (let order of orders) { %>
                            <article class="card">
                                <div class="card__content">
                                    <h1>Order ID: <%= order._id %>
                                    </h1>
                                </div>
                                <% for (let p of order.products) { %>
                                    <div class="card__content">
                                        <h2>
                                            <%= p.product.title %>
                                        </h2>
                                        <p>Quantity: <%= p.quantity %>
                                        </p>
                                        <p>Price: $<%= p.product.price %>
                                        </p>
                                    </div>
                                    <% } %>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Orders found.</h1>
                        <% } %>
            </main>

            <%- include('includes/footer.ejs') %>