<%- include('includes/header.ejs') %>

</head>
<body class="bg-gray-100 min-h-screen">
    <%- include('includes/navigation.ejs') %>
    <main class="container mx-auto px-4">
        <div class="bg-white rounded-lg shadow-md p-4">
            <div class="mb-4">
                <img src="/<%= product.image %>" alt="<%= product.title %>" class="w-full">
            </div>
            <div class="text-center">
                <h1 class="text-2xl font-bold mb-2"><%= product.title %></h1>
                <p class="mb-4"><%= product.description %></p>
                <p class="text-lg font-bold">$<%= product.price %></p>
                <% if (isAuthenticated) { %>
                    <%- include('includes/add-to-cart-button.ejs', {product: product}) %>
                <% } %>
            </div>
        </div>
        <div class="mt-4">
            <a href="/" class="block text-center text-blue-500">Back to Shop</a>
        </div>
    </main>

<%- include('includes/footer.ejs') %>