<%- include('includes/header.ejs') %>
</head>

<body class="min-h-screen">
<%- include('includes/navigation.ejs') %>
<main>
    <% if (prods.length > 0) { %>
        <div class="flex flex-wrap justify-center">
            <% for (let product of prods) { %>
                <%- include('includes/product.ejs', {product: product})%>
            <% } %>
        </div>
        <%- include('includes/pagination.ejs', {
        currentPage: currentPage,
        pageStart: pageStart,
        pageEnd: pageEnd,
        totalPage: totalPage,
        url: path
        }) %>
    <% } else { %>
        <div class="flex justify-center items-center h-screen">
            <h1 class="text-2xl font-bold">No products found.</h1>
        </div>
    <% } %>
</main>

<%- include('includes/footer.ejs') %>