<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card">
                        <header class="card-header">
                            <h1 class="card-header-title"><%= product.title %></h1>
                        </header>
                        <div class="card-image">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        </div>
                        <div class="card-content">
                            <h2 class="card-content-price">$<%= product.price %></h2>
                            <p class="card-content-description"><%= product.description %></p>
                        </div>
                        <footer class="card-footer">
                            <form action="/cart" method="POST">
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <button class="card-footer-button" type="submit">Add to Cart</button>
                            </form>
                        </footer>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No products found.</h1>
        <% } %>
    </main>

<%- include('includes/footer.ejs') %>